In [2]:
from sklearn.decomposition import PCA
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split

In [26]:
# load data
filename = r'D:\wkspacePY\STA 141C\data\processed.csv'
file_name = r'D:\wkspacePY\STA 141C\data\pca.csv'
df = pd.read_csv(filename, index_col='shot_id')
Y = df['shot_made_flag']
X = df.drop(['shot_made_flag'], axis=1)
Y = Y.as_matrix()
Y = Y.reshape(Y.shape[0],1)
X = X.as_matrix()
# normalize each column to mean 0, std = 1
S = np.std(X, axis = 1)
M = np.mean(X, axis = 1)
X = (X-M.reshape(M.shape[0],1))/S.reshape(S.shape[0],1)

In [27]:
# use pca to reduce features
ratio = 0.999
pca = PCA(n_components=ratio)
pca.fit(X)
newdata = pca.transform(X)

In [28]:
newdata.shape

(25697, 4)

In [44]:
new_df = pd.DataFrame(newdata)
new_df['shot_id'] = df.index.values
new_df['shot_made_flag'] = Y
new_df.head(10)

          0         1         2         3  shot_id  shot_made_flag
0  1.147022  0.597616 -0.317628  0.053738        2             0.0
1  0.540263  0.421013  0.168510 -0.024591        3             1.0
2  0.329331 -0.472773  0.359887 -0.025595        4             0.0
3  0.246058  0.006513 -0.338787 -0.032823        5             1.0
4  0.966831  0.551295 -0.366527  0.037766        6             0.0
5  0.817036  0.009582 -0.309836 -0.009734        7             1.0
6  0.197382  0.278478  0.057484 -0.039814        9             1.0
7 -0.397351  0.158989  0.102216 -0.037211       10             0.0
8 -0.798869  0.416112  0.504747 -0.003359       11             0.0
9  1.255267 -0.408875  0.214869  0.031432       12             1.0

In [45]:
new_df.to_csv(file_name, sep=',', encoding='utf-8', index=False)